<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/index-cover') %>

<main class="content">
    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="/favicon.png"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <div class="title"><%- config.author %></div>
                                <div class="career"><%- theme.profile.career %></div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div>
                    </div>
                </div>

                <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction %></div>
                <div class="card-content article-card-content" data-aos="fade-up">
                    <% if (config.prismjs && config.prismjs.enable) { %>
                        <link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.prism) %>">
                    <% } %>

                    <% if (theme.code.break) { %>
                        <style type="text/css">
                            code[class*="language-"], pre[class*="language-"] {
                                white-space: pre-wrap !important;
                            }
                        </style>
                    <% } %>

                    <div id="articleContent">
                        <%- page.content %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
